body{
    text-align: center; 
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color:bisque;
    padding: 20px;
    margin: 3px;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    } 

